/* Panel 公共容器样式 */
.lt-panel-base {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--lt-color-bg-container);
  border-radius: var(--lt-radius-md);
}

/* 两侧边栏 */
.lt-sidebar {
  width: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  padding: 0 var(--lt-size-sm);
}

/* 边栏图标按钮 */
.lt-sidebar-btn.lt-sidebar-btn {
  width: 24px;
  height: 24px;
}
/* 激活状态的图标按钮 */
.lt-sidebar-btn.lt-sidebar-btn[data-active='true'] {
  background-color: rgb(0 0 0 / 12%);
}

/* 边栏图标 */
.lt-sidebar-icon {
  width: 20px;
  height: 20px;
  stroke-width: 1.6px;
}

/* 边栏图标分组 */
.lt-sidebar-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--lt-size-xs);
}

/* 边栏分组之间的弹性间距 */
.lt-sidebar-spacer {
  flex: 1;
}